.header {
    text-align: right;
    color: maroon;
}

body {
    background-color: #fff0f5;
    overflow-y: scroll;
    overflow-x: hidden;
}


h1 {
    text-align: center;
    color: steelblue;
    font-family: 'Poiret One', cursive;
    font-size: 50px;
}

.card-text{
    color: steelblue;
}

.card-body {
    background-color: lightblue;
}

.form-control{
    background-color: lightyellow;
}

#AboutUs{
    text-align: center;
    color: steelblue;
}

#description {
    text-align: left;
    color: black;
}

#pic {
    right: auto;
}



#address1 {
    padding-left: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    margin-left: -200px;
    left: 50%;
    font-style: 12px "Visby CF Bold","Helvetica Neue",Helvetica,Arial, sans-serif;
    pointer-events: all;
    text-transform: uppercase;
    color: #111111;
    border-bottom: 1px solid transparent;
}

.right {
    margin-left: auto;
}

#bio {

    padding-right: 100px;
    font-size: 20px;
    text-align: justify;
}

#timer {
    font-style: "Visby CF Bold","Helvetica Neue",Helvetica,Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}



.name1 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;


}

.paddin1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.specials {
    font-family: 'Poiret One', cursive;
font-size: 30px;
}

.anim1 {
    padding: 40px;
    animation-name: titlesofcolor;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes titlesofcolor {
    0% {
        background-color: #fff0f5;
    }

    35% {
        background-color: #f0cbd8;

    }
    70% {
        background-color: #e0b5c3;
    }

    100% {
        background-color: #fff0f5;
    }
}